node_modules
src/*
lib/*
sipLib/*
test/*
build/*
types/*
Jenkinsfile
karma.conf.js
webpack.config.js
bower.json
.env
.babelrc          
CHANGELOG.md      
README.md         
deploybeta.sh     
env.js
types
.eslintrc.json
deployConfig.json
tsconfig.json
coverage